@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@800&display=swap');


.container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.container-content {
    background-image: url('resources/BannerImage.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;



}

.container-content .container-text {
    padding: 130px 344px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.container-content h6 {
    color: #e2dbdb;
    text-align: center;
    /* font-family: Merriweather; */
    font-size: 32px;
    font-weight: 400px;
    margin-bottom: 10px;
    text-decoration: none;
}

.container-content h3 {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 100px;
    line-height: 70px;
    margin-top: 0;
}

.discount {
    text-align: center;
}

.discount h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 40px;

}

.discount h5 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.discount h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.new-year-photo {
    text-align: center;
    margin-top: 48px;
}

.new-year-photo img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;


}


.mid-night-party {
    background-image: url('resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    /* border: 32px; */

}

.mid-night-party .back-color {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    /* border: 16px; */
}

.mid-night-party .text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 138px 50px 126px;
}

.mid-night-party h3 {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.mid-night-party p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.mid-night-party a {
    width: 103px;
    height: 24px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: left;
    text-decoration: none;
}

.mid-night-party img {
    width: 319.83px;
    height: 464.662px;

}

.location {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.location .text {
    padding: 100px 0;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 15px;
    text-transform: capitalize;

}

.location .text h3 {
    margin-bottom: 10px;
}

.span-text {
    color: #F00;
}



.location .text button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 8px;
    margin-top: 35px;

}

.best-offer {
    /* margin-top: 120px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.best-offer h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.best-offer h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-top: 0;

}

.best-offer .text-1 {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;

}

.best-offer h4 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

.best-offer .text-2 {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 0;
}

.best-offer .img-border {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
    background-image: url('resources/Ellipse\ 1.png');
    background-repeat: no-repeat;
    background-position: center;


}

.best-offer .img-border .picture {
    /* width: 364.844px; */
    /* height: 364.844px; */
    flex-shrink: 0;

}



.gift {
    width: 1320px;
    /* height: 733px; */
    margin: 0 auto;

}

.gift-content {
    margin-bottom: 120px;

}

.gift h5 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.gift h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.gift p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.gift img {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    margin-top: 15px;
}

.gift-image1 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 16px;
}

.gift-image2 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 16px;
}


.newletter {
    padding: 120px 336px;

}

.news-letter {
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    text-align: center;
}

.news-letter img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin: 0;
}

.news-letter h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 15px 0;
}

.news-letter p {
    width: 770px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400px;
    line-height: 25px;
    margin: 0 auto 25px auto;
    
}
.msg-section{
    display: flex;
    gap: 0;
}

.news-letter input {
    width: 420px;
    height: 30px;
    color: rgba(7, 2, 17, 0.30);
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: #FFFFFF;
    border: 0;
    padding: 10px;
    outline: none;
    
}

.news-letter button {
    width: 200px;
    height: 50px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 0 50px 50px 0;
    background-color: #f30404;
    border: 0;
}


footer {
    width: 1600px;
    height: 609px;
    margin: 120px auto 0 auto;
}

.footer-content {
    background-color: #070211;
    width: 1600px;
    height: 609px;
}

.footer-items {
    padding: 120px;
}

.footer-text1,
.footer-text2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-text1 p {
    width: 375px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 0;

}

.footer-text1 h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 0px;
    margin-bottom: 0px;
    margin-right: 140px;
    margin-top: 12px;
}

.footer-img-container {
    margin: 50px 0;
}

.footer-img-container .footer-img {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.footer-img-container .footer-img img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

hr {
    border: .5px solid rgba(255, 255, 255, 0.15);
    border-radius: .5px;

}

.footer-text2 h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;

}